.header {
  font-size: 23px;
  &__body {
    border-bottom: 1px solid #cecece;
  }
  &__nav {
    border-bottom: 1px solid #cecece;
  }
}

.top-header {
  background: #424242;
  color: #fff;

  // .top-header__list
  &__list {
    display: flex;
    justify-content: end;
  }

  // .top-header__link
  &__link {
    cursor: pointer;
    font-size: 16px;
    line-height: 1.63;
    margin-left: 25px;
  }
}

.body-header {
  padding: 20px 0;
  background: linear-gradient(to top, #ebebeb, #fefefe);

  // .body-header__content
  &__content {
    display: flex;
  }

  // .body-header__logo
  &__logo {
    width: 136px;
    height: 75px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .body-header__search
  &__search {
    flex: 1 1 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
  }

  // .body-header__cart
  &__cart {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: #c7c7c7;
    }
  }

  // .body-header__wish
  &__wish {
    margin: 0px 0px 0px 10px;
    padding: 0 10px 10px;
    p {
      position: relative;
      span {
        position: absolute;
        content: '';
        top: -13px;
        right: -10px;
        width: 28px;
        height: 16px;
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 13px;
        background-color: #8cb165;
        border-radius: 10px;
      }
    }
  }
}

.search-header {
  position: relative;

  // .search-header__input
  &__input {
    border: 4px solid #79b260;
    border-radius: 3px;
    width: 335px;
    font-size: 16px;
    padding: 5px 10px;
    &:focus {
      border: 4px solid #487933;
    }
    &:focus + .search-header__button {
      background: #487933;
    }
  }

  // .search-header__button
  &__button {
    display: block;
    position: relative;
    height: 39px;
    width: 125px;
    margin-left: -3px;
    padding-left: 14px;
    background: #8cb165;
    border-radius: 3px;
    font-size: 23px;
    color: #fff;
    svg {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translate(0, -50%);
      fill: #fff;
    }
    &:hover {
      text-decoration: underline;
    }
    &:active {
      font-size: 22px;
    }
  }
}

.cart-header {
  padding: 0 5px;
  color: #6d6d6d;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  svg {
    fill: rgb(140, 177, 101);
  }

  // .cart-header__top
  &__top {
    padding: 5px 0px 0px 0px;
  }
}

.top-cart {
  // .top-cart__info
  &__info {
    display: flex;
    gap: 0 10px;
    span {
      font-size: 13px;
    }
  }
}

.bottom-cart {
  display: flex;
  gap: 0 15px;

  // .bottom-cart__price
  &__price {
    font-size: 27px;
    font-weight: 700;
  }

  // .bottom-cart__button
  &__button {
    line-height: 0;
    padding: 0 10px;
    color: #fff;
    box-shadow: inset 0.5px 0.9px 0 0 rgba(118, 118, 118, 0.75);
    border: solid 1px #232323;
    background: linear-gradient(to top, #242424, #424242);
    border-radius: 3px;
    &:hover {
      background: linear-gradient(to top, #424242, #5e5e5e);
    }
    &:active {
      transform: scale(0.9);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.wish-header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: #6d6d6d;
  &:hover {
    text-decoration: underline;
    svg {
      fill: rgb(140, 177, 101);
    }
  }

  // .wish-header__icon
  &__icon {
    svg {
      fill: rgb(66, 66, 66);
    }
  }
}
/*==========header NAV===============*/

.nav-header {
  // .nav-header__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 0px;
  }
  // .nav-header__link
  &__link {
    display: flex;
    font-size: 19px;
    color: #5b5b5b;
    padding: 10px 18px;
    cursor: pointer;
    &:hover {
      background: linear-gradient(to top, #6b9e55, #85c46a);
      color: #fff;
    }
    &:active {
      box-shadow: inset 1px 1px 7px #213621;
    }
  }
}
